@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.Header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
  div {
    margin: 0 5%;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    color: #5375e2;
    width: 100%;
  }
  img {
    width: 50%;
  }
  .waves-effect {
    background-color: #5375e2;
    border-radius: 50px;
    border-bottom: 0;
    border-top: 0;
    font-weight: bold;
  }
  .waves-effect:hover {
    background-color: #1b1b1b;
  }
}
