.nav-wrapper,
.sidenav {
  #menu {
    color: #5375e2;
  }
  #right {
    color: #fff;
    background-color: #5375e2;
    font-weight: bold;
  }
  #right:hover {
    background-color: #1b1b1b;
  }
  .logo {
    display: inline-block;
    height: 100%;
  }

  .logo > img {
    position: absolute;
    top: 50%;
    width: 20%;
    transform: translateY(-50%);
  }
}
.brand-logo {
  margin: 0 10px;
}

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
